.info-tooltip {
  width: 100%;
  height: 100vh;

  display: flex;
  visibility: hidden;

  opacity: 0;
  position: fixed;
  justify-content: center;

  align-items: center;
  top: 0;

  left: 0;
  z-index: 900;

  transition: all .3s ease-in;
}

.info-tooltip::before {
  content: '';

  width: 100vw;
  height: 100vh;

  background-color: #2a2b2e;

  position: fixed;
  top: 0;

  left: 0;
  z-index: -1;
}

.info-tooltip:focus {
  outline: none;
}

.info-tooltip::before {
  opacity: .5;
}

.info-tooltip_opened {
  visibility: visible;

  opacity: 1;

  transition: all .3s ease-out;
}

.info-tooltip__container {
  width: calc(100% - (14px * 2));
  max-width: 345px;

  background-color: #f0f1ec;

  position: relative;

  margin: 0 auto;
  padding: 50px 0;
}

.info-tooltip__close-button-container {
  position: absolute;

  top: 30px;
  right: 50px;
}

.info-tooltip__pict {
  width: 120px;
  height: 120px;

  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;

  display: block;

  margin: 0 auto 40px auto;
  padding: 10px 40px 50px;
}

.info-tooltip__pict_status_accept {
  background-image: url('../../../images/icons/tooltip_accept.svg');
}

.info-tooltip__pict_status_reject {
  background-image: url('../../../images/icons/tooltip_reject.svg');
}

.info-tooltip__message {
  max-width: 244px;

  font-size: clamp(20px, 5vw, 24px);
  font-weight: 900;
  line-height: clamp(24px, 6vw, 29px);
  text-align: center;

  display: block;

  margin: 0 auto;
}

@media (min-width: 425px) {
  .info-tooltip__container {
    width: calc(100% - (40px * 2));
    max-width: 430px;
  }
}

@media (min-width: 520px) {
  .info-tooltip__container {
    padding: 60px 0;
  }
}

@media (min-width: 768px) {
  .info-tooltip__pict {
    margin: 0 auto 32px auto;
  }

  .info-tooltip__message {
    max-width: 358px;
  }
}