.close-button {
  width: 30px;
  height: 30px;

  cursor: pointer;

  background-color: transparent;
  background-image: url('../../../images/icons/cross.svg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;

  border: none;

  transition: opacity .2s linear;
}

.close-button:hover {
  opacity: .5;

  transition: opacity .2s linear;
}

@media (min-width: 768px) {
  .close-button {
    top: -40px;
    right: -40px;
  }
}