.post-card-button {
  width: 30px;
  height: 30px;

  cursor: pointer;

  background-color: transparent;
  background-size: contain;
  opacity: 1;

  border: none;

  transition: opacity .4s linear;
}

.post-card-button:hover {
  opacity: .5;

  transition: opacity .2s linear;
}

.post-card-button_type_comments {
  background-image: url('../../images/icons/comments.svg');
}

.post-card-button_type_comments_active {
  background-image: url('../../images/icons/comments_active.svg');
}

.post-card-button_type_edit {
  background-image: url('../../images/icons/edit.svg');
}

.post-card-button_type_edit_active {
  background-image: url('../../images/icons/edit_active.svg');
}

.post-card-button_type_bookmark {
  background-image: url('../../images/icons/bookmark.svg');
}

.post-card-button_type_bookmark_active {
  background-image: url('../../images/icons/bookmark_active.svg');
}

.post-card-button_type_delete {
  background-image: url('../../images/icons/trash-bin.svg');
}
