.input-with-error-message {
  margin: 0 0 10px;
}

.input-with-error-message__input {
  box-sizing: border-box;
  width: 100%;

  color: #2a2b2e;
  font-size: 18px;
  font-weight: 400;
  line-height: normal;

  background-color: transparent;

  outline: none;
  margin-bottom: 10px;
  border: none;
  border-bottom: 1px solid rgba(42, 43, 46, .2);
  padding: 0 0 10px 0;

  transition: border-bottom .2s linear;
  will-change: border-bottom;
}

.input-with-error-message__input:focus {
  border-bottom: 1px solid rgba(42, 43, 46, 1);

  transition: border-bottom .2s linear;
}

.input-with-error-message__input::placeholder {
  color: transparent;
}

.input-with-error-message__input_invalid {
  color: #e0194f;
}

.input-with-error-message__error-message {
  height: 30px;

  color: #e0194f;
  font-size: 14px;
  font-weight: 400;
  line-height: normal;

  display: block;
}

@media (min-width: 768px) {
  .input-with-error-message__input {
    transition: all .2s ease-out;
  }

  .input-with-error-message__input:focus {
    transition: all .1s ease-in;
  }
}