.comments-list {
  max-height: 100%;

  list-style: none;
  overflow-x: clip;
  overflow-y: scroll;

  padding: 0;
}

.comments-list__comment_accent {
  font-weight: 900;
}

.comments-list__comment-name {
  white-space: nowrap;
  text-overflow: ellipsis;

  overflow: hidden;
}

.comments-list__comment-name,
.comments-list__comment-email {
  margin: 0;
}

.comments-list__comment-text {
  margin: 20px 0 40px;
}

.comments-list__no-comments {
  font-weight: 900;
}
