.select-button {
  box-sizing: content-box;
  min-width: 26px;
  min-height: 26px;

  cursor: pointer;

  background-color: transparent;

  position: relative;

  border: 1px solid #2a2b2e;
  border-radius: 50%;

  transition: border .1s linear;
}

.select-button__button {
  content: '';
  min-width: 26px;
  min-height: 26px;

  cursor: pointer;

  background-image: url('../../../images/icons/correct.svg');
  background-position: center;
  background-size: contain;
  opacity: 0;

  position: absolute;

  top: 0;
  left: 0;
  border: 1px solid #2a2b2e;
  border-radius: 15px;
  padding: 0;

  transition: opacity .1s linear;
}

.select-button__button_active {
  opacity: 1;

  transition: opacity .1s linear;
}

@media (min-width: 780px) {
  .select-button__button:hover {
    opacity: .5;

    transition: opacity .1s linear;
  }

  .select-button__button_active:hover {
    opacity: 1;

    transition: none;
  }
}