.select-input {
  width: 100%;
  height: 20px;

  text-overflow: ellipsis;
  white-space: nowrap;

  background-color: #f0f1ec;

  margin: 0;
  border: none;
  padding: 0;
}

.select-input:checked {
  background-color: #2a2b2e;
}