@keyframes fold {
  from {
    transform: scale(1, 1);
    opacity: 1;
  }
  to {
    transform: scale(1, 0);
    opacity: .5;
  }
}

@keyframes unfold {
  from {
    transform: scale(1, 0);
    opacity: .5;
  }
  to {
    transform: scale(1, 1);
    opacity: 1;
  }
}

.fold {
  animation: fold .2s forwards linear;
}

.unfold {
  animation: unfold .2s forwards linear;
}

*::selection {
  color: #f0f1ec;

  background-color: #2a2b2e;
}

html {
  scroll-behavior: smooth;
}

#root {
  color: #2a2b2e;
  font-family: 'Inter', Tahoma, sans-serif;
  font-style: normal;

  background-color: #f0f1ec;

  display: grid;
  position: relative;
  grid-template-columns: 100%;
  grid-template-rows: max-content auto max-content;

  grid-auto-flow: row;

  margin: 0;
  padding: 0;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
}

.no-scroll {
  overflow: hidden;
}
