@keyframes unfold {
  from {
    transform: scale(1, .5);
    opacity: 0;
  }
  to {
    transform: scale(1, 1);
    opacity: 1;
  }
}

@keyframes fold {
  from {
    transform: scale(1, 1);
    opacity: 1;
  }
  to {
    transform: scale(1, .5);
    opacity: 0;
  }
}

.post-card {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  border-right: 1px solid #2a2b2e;
  padding: 20px;

  animation: unfold .2s forwards ease-in;
  will-change: transform, opacity;
}

.post-card:nth-child(3n) {
  border-right: none;
}

.post-card__author {
  margin: 0 0 10px;
}

.post-card__title {
  min-height: 80px;
  overflow: hidden;

  color: #2a2b2e;
  font-size: clamp(16px, 2.5vw, 20px);
  font-weight: 900;
  line-height: normal;

  position: relative;

  margin: 0;
}

.post-card__title::selection,
.post-card__author::selection,
.post-card__text::selection {
  background-color: #2a2b2e;

  color: #f0f1ec;
}

.post-card__controls {
  display: flex;
  justify-content: space-between;

  margin-top: 70px;
}

.post-card__controls_safe-controls {
  display: flex;
  column-gap: 10px;
}

.post-card__controls-button {
  width: 30px;
  height: 30px;

  cursor: pointer;

  background-color: transparent;
  background-size: contain;
  opacity: 1;

  border: none;

  transition: opacity .4s linear;
}

.post-card__controls-button:hover {
  opacity: .5;

  transition: opacity .2s linear;
}

.post-card__controls-button_type_comments {
  background-image: url('../../images/icons/comments.svg');
}

.post-card__controls-button_type_edit {
  background-image: url('../../images/icons/text.svg');
}

.post-card__controls-button_type_bookmark {
  background-image: url('../../images/icons/bookmark.svg');
}

.post-card__controls-button_type_delete {
  background-image: url('../../images/icons/trash-bin.svg');
}