.post-card {
  height: 400px;

  display: flex;
  flex-direction: column;
  justify-content: space-between;

  border-right: 1px solid #2a2b2e;
  padding: 20px;

  will-change: transform, opacity;
}

.post-card:nth-child(3n) {
  border-right: none;
}

.post-card__author {
  margin: 0 0 10px;
}

.post-card__title {
  min-height: 80px;
  overflow: hidden;

  color: #2a2b2e;
  font-size: clamp(16px, 2.5vw, 20px);
  font-weight: 900;
  line-height: normal;

  position: relative;

  margin: 0;
}

.post-card__text {
  max-height: 160px;
  overflow: scroll;

  margin: 30px 0 0;
}

.post-card__title::selection,
.post-card__author::selection,
.post-card__text::selection {
  background-color: #2a2b2e;

  color: #f0f1ec;
}