.post-card {
  height: 360px;

  background-color: #f0f1ec;

  display: flex;
  position: relative;
  flex-direction: column;
  justify-content: space-between;

  border-right: none;
  padding: 20px;

  will-change: transform, opacity;
}

.post-card__details-container {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.post-card__author {
  margin: 0 0 10px;
}

.post-card__title {
  min-height: 80px;
  color: #2a2b2e;

  font-size: clamp(16px, 2.5vw, 20px);
  font-weight: 900;
  line-height: normal;

  position: relative;

  overflow: hidden;

  margin: 0;
}

.post-card__text {
  max-height: 160px;
  overflow: scroll;

  margin: 30px 0 0;
}

.post-card__buttons {
  display: flex;
  justify-content: space-between;

  margin-top: 70px;
}

.post-card__buttons-container {
  display: flex;
  column-gap: 10px;
}

.post-card__button {
  width: 30px;
  height: 30px;

  cursor: pointer;

  background-color: transparent;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  opacity: 1;

  border: none;

  transition: opacity .2s linear;
  will-change: background-image;
}

.post-card__button:hover {
  opacity: .5;

  transition: opacity .2s linear;
}

.post-card__button_type_comments {
  background-image: url('../../images/icons/comments.svg');
}

.post-card__button_type_comments_active {
  background-image: url('../../images/icons/comments_active.svg');
}

.post-card__button_type_edit {
  background-image: url('../../images/icons/edit.svg');
}

.post-card__button_type_edit_active {
  background-image: url('../../images/icons/edit_active.svg');
}

.post-card__button_type_bookmark {
  background-image: url('../../images/icons/bookmark.svg');
}

.post-card__button_type_bookmark_active {
  background-image: url('../../images/icons/bookmark_active.svg');
}

.post-card__button_type_delete {
  background-image: url('../../images/icons/trash-bin.svg');
}

@media (min-width: 716px) {
  .post-card {
    height: 400px;

    border-right: 1px solid #2a2b2e;
  }

  .post-card:nth-child(2n) {
    border-right: none;
  }
}

@media (min-width: 1140px) {
  .post-card:nth-child(2n) {
    border-right: 1px solid #2a2b2e;
  }

  .post-card:nth-child(3n) {
    border-right: none;
  }
}