.footer {
  width: calc(100% - (10px * 2));

  display: flex;

  margin: 40px auto;
}

.footer__author {
  width: 150px;
  height: 100%;

  font-size: 18px;
  font-weight: 500;
  line-height: .9;
  
  cursor: default;

  margin: 0;
  padding-left: 40px;

}

.footer__color-block {
  width: 100%;
  background-color: #2a2b2e;
}

@media (min-width: 768px) {
  .footer {
    width: calc(100% - (30px * 2));
    max-width: 1140px;
  }
}