.paginator {
  width: calc(100% - 10px * 2);
  max-width: 708px;

  display: flex;
  justify-content: center;
  column-gap: 20px;

  margin: 70px auto 0;
}

.paginator__button {
  width: 70px;

  color: #2a2b2e;
  font-weight: 500;

  cursor: pointer;
  background-color: transparent;

  padding: 5px 0;

  border: 1px solid #2a2b2e;
  opacity: 1;

  transition: opacity .4s linear;
}

.paginator__button_active {
  color: #f0f1ec;

  background-color: #2a2b2e;
}

.paginator__button:hover {
  opacity: .8;

  transition: opacity .2s linear;
}

@media (min-width: 768px) {
  .paginator {
    width: calc(100% - (30px * 2));
    max-width: 1140px;
  }
}