.paginator {
  width: 100%;
  max-width: 708px;

  background-color: #f0f1ec;

  display: flex;
  justify-content: center;
  column-gap: 10px;

  margin: 70px auto 0;
  padding: 40px 0;
}

.paginator__button {
  width: 50px;

  color: #2a2b2e;
  font-size: 16px;
  font-weight: 500;

  cursor: pointer;

  background-color: transparent;
  opacity: 1;

  padding: 5px 0;
  border: 1px solid #2a2b2e;

  transition: opacity .2s linear;
}

.paginator__button_active {
  color: #f0f1ec;

  background-color: #2a2b2e;
}

.paginator__button:hover {
  opacity: .5;

  transition: opacity .2s linear;
}

@media (min-width: 768px) {
  .paginator {
    width: calc(100% - (30px * 2));
    max-width: 1140px;

    column-gap: 20px;
  }

  .paginator__button {
    width: 70px;

    font-size: 18px;
  }
}